# Dependencies
node_modules/

# Next.js
.next/
out/

# Production
build/

# Prisma
*.db
*.db-journal
*.db-wal
*.db-shm

# Env files
.env
.env.local
.env.*.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db
