# Dependencies
node_modules/

# Next.js
.next/
out/

# Production
build/

# Prisma
prisma/*.db
prisma/*.db-journal
prisma/*.db-wal
prisma/*.db-shm

# Env files
.env
.env.local
.env.*.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db
